.inputsWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .inputsWrapper {
    flex-direction: row;
  }
}

.selectWrapper {
  width: 100%;
  position: relative;
}

.searchWrapper {
  width: 100%;
  position: relative;
}

.label {
  font-weight: bold;
}

.showAllButton {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #f9558f;
  border-radius: 4px;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.showAllButton:hover {
  filter: brightness(1.2);
}
