@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  margin: 2em 0 4em;
}

.headline {
  font-size: var(--font-small-size);
  line-height: var(--font-micro-line-height);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 2rem 0;
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-gap: 2em;

  @media (--media-min-small) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.browseMoreNav {
  text-align: right;
  font-weight: bolder;
  min-height: 75px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s linear;
  background-color: #dddddd;

  @media (hover: hover) {
    @nest &:hover {
      color: var(--color-accent);
    }
  }

  @media (--media-min-small) {
    background-color: white;
  }
}

.browseMoreNav:hover {
  filter: brightness(1.1);
  background-color: #dddddd;
}
